/* Default content - below 768px */

.footer {
    padding: 4vh;
    background: #464547;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    justify-content: center;
    grid-row-gap: 2vh;
}

#footer_title {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: #FFFFFF;
    align-self: start;
}

.footer_info {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    align-self: end;
}

footer > p:last-of-type {
    display: none;
}


/* Content over or at 768px */

@media screen and (min-width: 768px) {
    .footer {
        padding: 4vh;
        background: #464547;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        align-items: center;
        justify-content: center;
    }

    #footer_title {
        font-size: 15px;
    }

    .footer_info {
        font-size: 16px;
    }

    .footer > p:last-of-type {
        display: block;
    }
}


